/*
Error: File to import not found or unreadable: modules/wysiwyg.
       Load paths:
         Compass::SpriteImporter
         /Users/jamie/Sites/recipe/stylesheets/scss
         /Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets
         /Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass
        on line 24 of /Users/jamie/Sites/recipe/stylesheets/scss/modules/style.scss

19: 
20: // Base styles. This file should be very minimal, containing very basic styles.
21: @import 'includes/base';
22: 
23: // Modules, self contained pieces of styling that can be reused.
24: @import 'modules/wysiwyg';
25: @import 'modules/logo';
26: @import 'modules/cta-fixed';
27: @import 'modules/button';
28: @import 'modules/hero';
29: @import 'modules/playhead';

Backtrace:
/Users/jamie/Sites/recipe/stylesheets/scss/modules/style.scss:24
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:45:in `import'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:23:in `block in render_with_sourcemap'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:22:in `render_with_sourcemap'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/jamie/.rbenv/versions/2.2.2/bin/compass:23:in `load'
/Users/jamie/.rbenv/versions/2.2.2/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: modules/wysiwyg.\A        Load paths:\A          Compass::SpriteImporter\A          /Users/jamie/Sites/recipe/stylesheets/scss\A          /Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets\A          /Users/jamie/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass\A         on line 24 of /Users/jamie/Sites/recipe/stylesheets/scss/modules/style.scss\A \A 19: \A 20: // Base styles. This file should be very minimal, containing very basic styles.\A 21: @import 'includes/base';\A 22: \A 23: // Modules, self contained pieces of styling that can be reused.\A 24: @import 'modules/wysiwyg';\A 25: @import 'modules/logo';\A 26: @import 'modules/cta-fixed';\A 27: @import 'modules/button';\A 28: @import 'modules/hero';\A 29: @import 'modules/playhead';"; }
