// Fonts
// $font-serif: 'IM Fell Double Pica', serif;

$font-serif: 'Gentium Basic';
$font-sans: Arial;
$font-base: $font-serif, Times, serif;

$font-weight-bold: 700;

// Font sizes
$font-size-body: 16;

// Letter spacing

// New colors
$color-teal: #a0c1a6;
$color-cream: #f3eeda;
$color-darkblue: #0e4250;
$color-orangeaccent: #df4d34;
$color-dark: #414141;

// Colours
$color-base: #22181C; // the colour of most body text
$color-green: #477A74;
// $color-canvas: rgb(160,211,207); // RR teal
$color-canvas: $color-teal;
$color-green-light: #8ABAB6;
$color-brown: #442220;
$color-purple: #2E0014;
$color-orange: #F0803C;
$color-pink: #E84855;
$color-red: #DD0001;


// Breakpoints
$breakpoint-full: 1400px;
$breakpoint-large: 1180px;
$breakpoint-mid: 820px;
$breakpoint-small: 600px;
$breakpoint-smaller: 420px; // 👽
$breakpoint-no-mediaqueries: 1020px;

// Heights
$height-full-fallback: 440px;

// Space
$space: 15px;

// Toggle
$togglewidth: 50px;

$transdur: 0.15s;
$transdur-medium: 0.25s;

