---
layout: default
---

<div class="l-container-wrapper l-container-wrapper--shadow" style="background-color: #F3E37C;">
  <div class="l-container l-container--centered">
    <div class="l-col-8">
      <div class="hero">
        <img class="hero__image" src="{{ site.baseurl }}/images/hero1.jpg" />
      </div>
    </div>
  </div>

  <div class="l-container l-container--centered">
    <div class="l-col-7 l-col-m-12 l-text-center">
      <h4 class="page-heading">Real simple recipes, made from whole foods, on small budgets. High in vegetables, low in grains, sugar and dairy. No fancy pants ingredients.</h4>
    </div>
    <div class="l-space--x4 l-space--mid--x2">
    </div>
  </div><!-- .container -->

</div>


<div class="filter l-space--x2">
  {% for category in site.categories %}
    <input type="checkbox" class="filter__checkbox" id="{{ category | first | remove:' ' }}" data-filter="{{ category | first | remove:' ' }}" />
    <label class="filter__label" for="{{ category | first | remove:' ' }}">{{ category | first }}</label>
  {% endfor %}
</div>


<div class="l-container-wrapper">
  <div class="l-container l-container--centered">

    <div class="l-col-12 l-col-m-12">
      <ul class="recipe-list">
        {% for post in site.posts %}
          <li class="recipe-list__item l-col-4 l-col-m-6 {% for category in post.categories %}{{ category }} {% if forloop.last %}{% else %}{% endif %}{% endfor %}">
            <a class="recipe-list__link" href="{{ site.baseurl }}{{ post.url }}">
              {% if post.image %}
                <div class="recipe-list__image b-lazy" data-src="{{ site.baseurl }}/images/{{ post.image }}">
                  <ul class="nutrition">
                    {% for nutrition-icon in post.nutrition-icons %}
                      <li class="nutrition__icon nutrition__icon--{{ nutrition-icon.item }}"><div class="u-accessible-hide">{{ nutrition-icon.item }}</div></li>
                    {% endfor %}
                  </ul>
                </div>
              {% else %}
                <div class="recipe-list__image  recipe-list__image--noimage">
                  <ul class="nutrition">
                    {% for nutrition-icon in post.nutrition-icons %}
                      <li class="nutrition__icon nutrition__icon--{{ nutrition-icon.item }}"><div class="u-accessible-hide">{{ nutrition-icon.item }}</div></li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              <div class="recipe-list__title">{{ post.title }}</div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div><!-- .container -->
</div><!-- .container-wrapper -->