
body {
	font-family: $font-base;
	color: $color-base;
	font-size: 16px;
	line-height: 120%;
	letter-spacing: 0.04em;
}

a {
	text-decoration: none;
}

p {
	&:last-of-type {
		margin-bottom: 0; // This is because of normalize. If you Meyer you have it anyway.
	}
}

p, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 100%;
}

h1 {
	margin-bottom: 25px;
	font-weight: 100;
	font-size: 28px;
}

h2 {
	margin-bottom: $space;
	// font-family: arial;
	font-size: 18px;
	font-style: italic;
}
strong {
	font-weight: bold;
}

form {
	input {
		@include border-radius(0);
		-webkit-appearance: none;
	}
}
