.directions {
	transition-duration: $transdur;
	padding-top: 20px;
	position: relative;
	z-index: 1;
	&__inner {
		line-height: 180%;
		margin-bottom: $space*4;
		padding-left: 0px;
		@media (max-width: $breakpoint-mid) {
			padding-left: 50px;
		}
	}
	span {
		display: inline-block;
		width: 100%;
		margin-left: 25px;
		font-weight: bold;
		&:before {
			content: "•";
			position: absolute;
			left: 30px;
			color: $color-green;
		}
	}
	h1, h2 {
		padding: 0 20px;
	}
	&__images {
		line-height: 0;
		padding-left: 50px;
	}
	&__image {
	}
	.ingredients-active & {
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
	  transform: translateX(100%);
	}
	&__content {
		position: relative;
		overflow: hidden;
	}
	&__text {
		position: relative;
		padding: 0 20px;
		z-index: 2;
	}
}
