.filter {
  margin-bottom: $space;
  &__checkbox {
    display: none;
  }
  &__label {
    padding: 5px $space;
    margin: 0 $space $space 0;
    display: inline-block; 
    font-weight: 500;
    font-family: $font-sans;
    color: $color-dark;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.065em;
    opacity: 0.30;
    border: 1px solid black;
    border-radius: 2px;
    transition-duration:0.2s;
    &:hover {
      cursor: pointer;
    }
    @media (max-width: $breakpoint-mid) {
      padding: 2px 10px;
      margin: 0 5px 5px 0;
    }
  }
  input:checked + label, label:hover {
    opacity: 1;
    background: $color-teal;
  }
}