.hero {
	padding: 9px;
	height: $height-full-fallback*0.8;
	height: 80vh;
	@media (max-width: $breakpoint-mid) {
	  height: $height-full-fallback*0.8;
	}
	// background-image(linear-gradient(top,  rgba(3,132,120,0.50) 0%,rgba(3,132,120,0) 100%));
	&__image {
		max-width:480px;
	}
	&__inner {
		border: 3px solid black;
		display:block;
		height: 100%;
		width: 100%;
		max-width: col(8);
		margin: 0 auto;
	}
	&__subtitle {

	}
}
