.recipe {
	display: block;
  transition-duration: $transdur;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#toggle:checked ~ .recipe, .ingredients-active .recipe {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}