#toggle {
	-webkit-opacity: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	z-index: 0;
}
.toggle {
	display: none;
	width: $togglewidth;
	@include full-height;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	background: $color-teal;
	transition-duration: $transdur;
	border-right: 1px solid rgba($color-darkblue,0.25);
	border-left: 1px solid transparent;
	// .ingredients-active & {
	// 	left: calc(100% - 50px);
	// 	border-right: 1px solid transparent;
	// 	border-left: 1px solid $color-green-light;
	// }
	@media (max-width: $breakpoint-mid) {
		display: block;
	}
	span {
		width: 160px;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		transform-origin: left top 0;
		-webkit-transform-origin: left top 0;
		float: left;
		position: absolute;
		top: 21px;
		left: 35px;
		@include utility-text;
		line-height: 18px;
		&:before {
			content: "";
			width: 20px;
			height: 18px;
			float: left;
			margin-right: 7px;
			background: url(data:image/svg+xml,%3Csvg%20height%3D%2225px%22%20version%3D%221.1%22%20viewBox%3D%220%200%2025%2025%22%20width%3D%2225px%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Ctitle/%3E%3Cdesc/%3E%3Cdefs/%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%3E%3Cg%20fill%3D%22%23477A74%22%3E%3Cpath%20d%3D%22M0%2C2%20L25%2C2%20L25%2C6%20L0%2C6%20L0%2C2%20Z%20M0%2C10%20L25%2C10%20L25%2C14%20L0%2C14%20L0%2C10%20Z%20M0%2C18%20L25%2C18%20L25%2C22%20L0%2C22%20L0%2C18%20Z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
			background-repeat: no-repeat;
			background-size: 15px;
			background-position: center;
		}
		&:after {
			content: "Ingredients";
		}
	}
	a {
		@include utility-text;
		font-size: 12px;
		letter-spacing: 0.05em;
		padding: 20px 0;
		width: 48px;
		height: 52px;
		text-align: center;
		position: absolute;
		top: 181px;
		left: 0;
		border-top: 1px solid rgba($color-darkblue,0.25);
		border-bottom: 1px solid rgba($color-darkblue,0.25);
	}
	a[href="#images"] {
		background: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20enable-background%3D%22new%200%200%2064%2064%22%20height%3D%2264px%22%20id%3D%22Layer_1%22%20version%3D%221.1%22%20viewBox%3D%220%200%2064%2064%22%20width%3D%2264px%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%3E%3Cpath%20d%3D%22M32%2C20.247c-6.564%2C0-11.886%2C5.323-11.886%2C11.886c0%2C6.563%2C5.321%2C11.885%2C11.886%2C11.885%20%20%20s11.886-5.321%2C11.886-11.885C43.886%2C25.57%2C38.564%2C20.247%2C32%2C20.247z%20M32%2C40.723c-4.815%2C0-8.722-3.906-8.722-8.722%20%20%20s3.906-8.722%2C8.722-8.722c4.816%2C0%2C8.719%2C3.906%2C8.719%2C8.722S36.816%2C40.723%2C32%2C40.723z%22%20fill%3D%22%23477A74%22/%3E%3Cpath%20d%3D%22M62.079%2C15.556H47.238c-2.161%2C0-2.341-1.749-2.354-2.209V6.362c0-0.994-0.794-1.81-1.81-1.81H20.923%20%20%20c-1.014%2C0-1.809%2C0.815-1.809%2C1.81v7.591c-0.05%2C0.6-0.36%2C1.603-1.949%2C1.603H1.92c-1.015%2C0-1.811%2C0.815-1.811%2C1.812v40.271%20%20%20c0%2C1.012%2C0.796%2C1.809%2C1.811%2C1.809h60.159c1.015%2C0%2C1.812-0.797%2C1.812-1.809V17.368C63.891%2C16.371%2C63.094%2C15.556%2C62.079%2C15.556z%20%20%20%20M60.843%2C54.168c0%2C0.906-0.733%2C1.639-1.64%2C1.639H4.797c-0.906%2C0-1.64-0.732-1.64-1.639v-33.71c0-0.906%2C0.733-1.64%2C1.64-1.64h13.869%20%20%20c3.085%2C0%2C3.349-2.401%2C3.361-3.086v-6.57c0-1.757%2C1.305-2.026%2C1.907-2.059h16.288c0.788%2C0.121%2C1.886%2C0.684%2C1.886%2C2.903v4.97%20%20%20c0%2C0-0.118%2C3.842%2C3.724%2C3.842h13.371c0.906%2C0%2C1.64%2C0.733%2C1.64%2C1.64V54.168z%22%20fill%3D%22%23477A74%22/%3E%3Cpath%20d%3D%22M26.979%2C48.798H11.78c-0.905%2C0-1.64-0.733-1.64-1.639V33.496c0-1.157-0.788-1.34-1.156-1.363H8.421%20%20%20c-0.334%2C0.009-1.328%2C0.16-1.328%2C1.696v16.797c0%2C1.016%2C0.797%2C1.812%2C1.812%2C1.812H26.8c1.605%2C0%2C1.96-0.8%2C2.023-1.328v-0.99%20%20%20C28.823%2C49.028%2C27.641%2C48.827%2C26.979%2C48.798z%22%20fill%3D%22%23477A74%22/%3E%3C/g%3E%3C/svg%3E) no-repeat center center;
		background-size: 24px auto;
		top: 233px;
		border-top: 0px;
		border-bottom: 1px solid rgba($color-darkblue,0.25);
	}
}
#toggle:checked + .toggle, .ingredients-active .toggle {
	border-right: 1px solid transparent;
	border-left: 1px solid rgba($color-darkblue,0.25);
	left: initial;
	right: 0;

	span {
		&:after {
			content: "Directions";
		}
	}
}
