.directions {
	transition-duration: $transdur;
	padding-top: 18px;
	position: relative;
	z-index: 1;
	&__inner {
		line-height: 180%;
		margin-bottom: $space*4;
		padding-left: 50px;
	}
	span {
		font-weight: bold;
		text-decoration: underline;
	}
	&__images {
		line-height: 0;
		padding-left: 30px;
		h2 {
			padding-left: 20px;
		}
	}
	&__image {
		width: calc(100% + 20px);
		max-width: initial;
	}
	.ingredients-active & {
		@include translateX(100%);
	}
}
