.highlight {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	input {
		width: 100%;
		height: 28px;
		display: block;
		font-size: 16px;
		line-height: 180%;
		position: relative;
		outline: none;
		border: none;
		-webkit-tap-highlight-color: transparent;
		&:checked {
			background: rgba($color-green-light,0.6);
			border-top: 1px solid $color-green-light;
			border-bottom: 1px solid $color-green-light;
			&:after {
				@include icon($icon-hand-o-left);
				position: absolute;
				right: 0px;
				top: 8px;
				font-size: 12px;
				color: rgba($color-green,0.5);
				transition-duration: 0.5s;
				transition-delay: 1s;
				transform: translateX(-5px);
			}
		}
	}
}
