.toggle {
	width: $togglewidth;
	@include full-height;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	color: $color-green;
	background: url('../../images/toggle.png') no-repeat center 37px;
	background-size: 24px auto;
	transition-duration: $transdur;
	border-right: 1px solid $color-green-light;
	border-left: 1px solid transparent;
	.ingredients-active & {
		left: calc(100% - 50px);
		// @media all and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
		// 	left: 270px;
		// }
		// @media all and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
		// 	left: 430px;
		// }
		border-right: 1px solid transparent;
		border-left: 1px solid $color-green-light;
	}
	// &__text {
	// 	position: absolute;
	// 	left: 0;
	// 	height: 50px;
	// 	width: 300px;
	// 	display: block;
	// 	@include rotate(90deg);
	// }
}
