<!doctype html>
<!--[if IE 8 ]>    <html class="ie ie8 lt-ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 lt-ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang=""><!--<![endif]-->
<html>

  {% include head.html %}

  <body spellcheck="false">

    {% include header.html %}

    <div class="l-container">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

  <script type="text/javascript" src="{{ site.baseurl }}/js/modules/highlight.js"></script>
  
</html>